.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-m) var(--space-s);
  background-color: var(--color-main);
  height: 5.75rem;
}

.header__options {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);
}

.header__logo {
  height: 2.75rem;
}

.header__hamburger__icon {
  color: var(--color-white);
}

.header__hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  border: var(--border-size-zero);
  padding: var(--space-zero);
  font-size: var(--font-size-xxl);
  width: 2rem;
  aspect-ratio: 1;
  background: transparent;
}

@media (max-width: 550px) {
  .header__hamburger {
    display: flex;
  }

  .header__options {
    position: absolute;
    top: 5.75rem;
    right: 0rem;
    flex-direction: column;
    background-color: var(--color-main);
    width: 100%;
    max-height: 0rem;
    overflow: hidden;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-zero);
    transition: all 0.2s ease-in-out;
  }

  .header__options--open {
    max-height: 20rem;
    padding: var(--space-m) 0;
  }
}
